         
<!DOCTYPE html>
<html lang="en">  
    <div class="containertop"  style="text-align:right">
      <img   src="assets/flag.png"   style="width:35px;height:21px;">     
      <img   src="assets/im.png"   style="width:5px;height:19px;">		 
    <button  id="flag"  (click)='action()'   style="height:26px;">Norwegian</button> 
	  <img   src="assets/im.png"   style="width:5px;height:25px;">	  
	  <img   src="assets/bflag.png"   style="width:35px;height:21px;">
	  <img   src="assets/im.png"   style="width:5px;height:19px;">
	<button (click)='actionen()'   style="height:26px;">English</button>  
	</div>
<div class="container"  style="">
<form class="form-horizontal"  [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)" >
<table class=""   id="de"  > 
  <colgroup>     
    <col  style="width: 68%;text-align: left;">
    <col  style="text-align: right;width: 30%;">
    <col  style="width: 2%;">
  </colgroup>    
  <tr>
  <th  class="tohide"  style="text-align:left;"> <h4> <b> Medlem List </b></h4>   </th>
  <th  class="nottohide" style="text-align: right;">     
	<input  formControlName="mnavn"  placeholder="Soker Navn"               
      id="mnavn"           
      type="text"
      class="form-control"              
	  [ngClass]="{'is-invalid': createForm.get('mnavn').hasError('required') }"
	  [class.valid]="createForm.get('mnavn').valid"
	  [class.invalid]="createForm.get('mnavn').invalid" />
  </th>  
  <th>    
  <input  class="tohide"  id="sok"  type="image"  (click)=getMedlemnavn()    
      [disabled]="!createForm.valid"    
	  name="submit"   src="assets/s.png"     style=""   />	 					 
  </th> 
  </tr>
 </table>
 </form>  
  <table class="table table-bordered table-sm"   id="demo"  >
       <col class="column-one" style="">
       <col class="column-two"  >
       <col class="column-three" style="">
       <col class="column-four" style="">
       <col class="column-five" style="">
    <tr>
	<th >Se</th>
     <th>Medlem Navn</th>
      <th  class="tohide">Mobil Tlf</th>
        <th  class="tohide">Email</th>
      <th>Kontingent</th>
    </tr> 
    <tr *ngFor="let medlem of medlems  | paginate:{itemsPerPage: 8, currentPage:p}">					
	  <td class="text-center">
		<a href="#" [routerLink]="['/medlems/', medlem.medlem_Id, 'read']" > 
           <img   src="assets/m.png"   style="width:26px;height:28px;">
        </a>
	</td>   
      <td  class="tonavn">{{ medlem.fornavn }} {{ medlem.etternavn }}</td>
      <td   class="tohide">{{ medlem.mobilTlf }} </td>
      <td   class="tohide">{{ medlem.email }}</td>  
	  <td  [ngStyle]="{'color':medlem.kontingent?.name === 'IKKE Betalt' ? 'red' : 'blue' }"   >
	  {{ medlem.kontingent?.name }}
	  </td>     
    </tr>
	  </table>
     <table class=""   id="pagi"  >
  <colgroup   id="pagi-col">     
       <col span="1" style="">
  </colgroup>    	
		<tr>
		<td>
	    <div id="pagination">
			<pagination-controls (pageChange)="p=$event"></pagination-controls>
		</div> 
		</td>
         </tr>
   </table>
		
 <div class="containerbottom"  style=""> 
	<div class="row">
    <div class="col   text-right"   id="re-List">
	 <a href="#" routerLink="/medlems/create/" class="btn btn-primary btn-sm">Registrer ny medlem</a>
	</div>
 </div>		
</div>	 	
</div>
</html> 
